@import url('https://fonts.googlespis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03a9f4;
    transition: 1s;
}
.slide
{
    background-color: #f43648;
}
.container
{
    position: relative;
    width: 800px;
    height: 400px;
    background: rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box
{
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.container .box h2
{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom:10px;
}

.container .box button
{
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
}

.formBx
{
    position: absolute;
    left: 50px;
    width: 350px;
    height: 480px;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    transition-delay:0.5s ;
    overflow: hidden;
}

.slide .formBx
{
    left: 400px;
}
.formBx .form
{
    position: absolute;
    top:0;
    left: 0;
    width:100% ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: #fff;
}
.formBx .form.signupform
{
    top:100%;
    transition-delay: 0s;
}
.slide .formBx .form.signupform
{
    top:0;
    transition-delay: 1s;
}
.formBx .form.signinform
{
    top:0;
    transition-delay: 1s;
}
.slide .formBx .form.signinform
{
    top:-100%;
    transition-delay: 0s;
}
.formBx .form form
{
    display: flex;
    flex-direction: column;
    padding: 0.50px;
    width: 100%;
}

.formBx .form form h3
{
    font-size: 1.4em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

.inputGroup {
    position: relative;
}

.formBx .form form label
{
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.7em;
    margin-left: 1.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.formBx .form form :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.8);
    margin: 0em;
    margin-left: 2em;
    padding: 0.4em;
    background-color: #fff;
}

.formBx .form form :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

.formBx .form form a
{
    margin-left: 23px;
}

.formBx .form form input
{
    width: 300px;
    margin-left: 25px;
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    font-size: 1em;
    border: 1 solid #333;
    letter-spacing: 0.1em;
    border-radius: 2px;
    line-height: 20px;
}
.formBx .form form input[type="submit"]
{
    background: #03a9f4;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
    font-weight: 500;
}

.formBx .signupform form input[type="submit"]
{
    background: #f43648;
}
.forgot
{
    color: #333;
    letter-spacing: 0.05em;
    font-size: 0.8em;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
  }

  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }

.button1 {
  max-width: 280px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
  margin: auto;
  margin-top: 30px;
}

.button1 svg {
  height: 24px;
}

.button1:hover {
  transform: scale(1.02);
}