<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - OnlyA</title>
    <link rel="stylesheet" href="/css/stylelogin.css">
    <link href="/images/Logo_Web.png" rel="icon" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="box signin">
        <h2>Already Have an Account?</h2>
        <button class="signinBtn">Sign in</button>
    </div>
    <div class="box signup">
        <h2>Do have an account?</h2>
        <button class="signupBtn">Sign up</button>
    </div>
    <div class="formBx">
        <div class="form signinform">
            <form id="signInForm" action="/login" method="POST">
                <h3>Sign In</h3>
                <div class="inputGroup">
                    <input type="text" id="username" name="username" required autocomplete="off">
                    <label for="username">Username</label>
                </div>
                <div class="inputGroup">
                    <input id="password" type="password" name="password" required autocomplete="off">
                    <label for="password">Password</label>
                </div>
                <input type="submit" value="Login">
                <a href="#" class="forgot">Forgot Password</a>

                <button class="button1" onclick="showGoogleLogin()">
                    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262">
                        <path fill="#4285F4" d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"></path>
                        <path fill="#34A853" d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"></path>
                        <path fill="#FBBC05" d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"></path>
                        <path fill="#EB4335" d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"></path>
                    </svg>
                    Continue with Google
                </button>
            </form>
        </div>
        <div class="form signupform">
            <form action="/register" method="POST">
                <h3>Sign Up</h3>
                <div class="inputGroup">
                    <input type="text" name="username" required autocomplete="off">
                    <label for="username">Username</label>
                </div>
                <div class="inputGroup">
                    <input id="email" type="email" name="email" required autocomplete="off">
                    <label for="email">Email Address</label>
                </div>
                <div class="inputGroup">
                    <input type="password" name="password" required autocomplete="off">
                    <label for="password">Password</label>
                </div>
                <div class="inputGroup">
                    <input id="confirm-password" type="password" name="confirmPassword" required autocomplete="off">
                    <label for="confirm-password">Confirm password</label>
                </div>
                <div class="inputGroup" style="display: flex; justify-content: flex-start; margin-right: 45px;">
                    <label for="personal"></label>
                    <input type="radio" name="accountType" value="personal" id="personal" required> Personal

                    <label for="business"></label>
                    <input type="radio" name="accountType" value="business" id="business" required> Business
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>
<script>
    let signinBtn = document.querySelector(".signinBtn");
    let signupBtn = document.querySelector(".signupBtn");
    let body = document.querySelector("body");

    signupBtn.onclick = function () {
        body.classList.add("slide");
    };
    signinBtn.onclick = function () {
        body.classList.remove("slide");
    };
</script>
<script>
    function showGoogleLogin() {
        window.location.href = "/";
    }
</script>
</body>
</html>
